include README.md
include hunor/tools/bin/commons-io-2.4.jar
include hunor/tools/bin/evosuite-1.0.6.jar
include hunor/tools/bin/evosuite-standalone-runtime-1.0.6.jar
include hunor/tools/bin/hamcrest-core-1.3.jar
include hunor/tools/bin/jmockit-1.40-marcio.1.jar
include hunor/tools/bin/junit-4.12.jar
include hunor/tools/bin/mujava.jar
include hunor/tools/bin/openjava.jar
include hunor/tools/bin/randoop-all-4.0.3.jar
